* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

form {
  width: 100%;
  position: fixed;
}

button {
  width: calc(100% / 4);
}

button.selected {
  background-color: aquamarine;
}

ul {
  padding: 3rem 2rem 1rem;
}

li {
  margin-bottom: 1rem;
}

.table-container {
  width: 100%;
  overflow-y: auto;
  padding-top: 3rem;
}

td {
  border: 1px solid gray;
  padding: 0.25rem;
}
